@media only screen and (max-width: 1200px) {
    .block.work .round-line .line{
        margin: -192px auto 192px auto;
    }
}
@media only screen and (max-width: 1100px) {
    .block.price .row .col-md-4 .img-wrap img {
        max-width: 100%;
        height: auto;
        left: 0;
        margin-left: 0;
    }
    .block.price .row span{
        font-size: 30px;
    }
}
@media only screen and (max-width: 1000px) {
    .block.unique .img-wrap img{
	    max-width: 100%;
        height: auto;
    }
}
    